body {
    font-family: 'Playpen Sans', cursive;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("https://img.freepik.com/free-photo/green-gradient-abstract-background-empty-room-with-space-your-text-picture_1258-117939.jpg?w=1060&t=st=1704011602~exp=1704012202~hmac=9cfd2af9b23e2e5fce6a694033051b407434d0e8136b873803cd52fd50f6869b");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.container {
    display: flex;
    justify-content: space-between;
}

.home, .user {
    display: flex;
    align-items: center;
}

.home img, .user img {
    filter: invert(100%);
    width: 30px;
}

.home img {
    width: 50px;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.fade-out {
    opacity: 0 !important;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
    transition: transform 0.5s ease-in-out;
}

.avatar:hover {
    transform: scale(1.1);
}

.login-container {
    background-color: transparent;
    backdrop-filter: blur(50px);
    width: 450px;
    margin: 50px auto;
    padding: 20px;
    border-top: 5px solid #007BFF;
    border-left: 5px solid #007BFF;
    border-bottom: 5px solid #e1ff00;
    border-right: 5px solid #e1ff00;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}

.form-group {
    margin: 20px auto;
}

.form-group label {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    color: #fff;
    font-weight: bold;
}

.form-control {
    color:#000;
    font-size: 20px;
}

.form-control:focus {
    color: #000;
}

input, label {
    font-size: 18px;
}

input {
    color: #000;
}

input:focus {
    outline: none;
}

.input-group-prepend span {
    background-color: #fff;
}

.input-group-text img {
    width: 20px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.form-group input:focus {
    border-color: #007BFF;
}

.login-button {
    color: #fff;
}

.login-button a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 100%;
    background-color: #007BFF;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    transition: background-color 0.5s ease;
}

.login-button a:hover {
    background-color: #0050a6;
}

.socials {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 60px;
}

.socials img {
    width: 50px;;
}

.socials a {
    text-decoration: none;
}

.git {
    filter: invert(100%);
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@media screen and (max-width: 720px) {
    .login-container {
        width: 100%;
        margin: 10px;
    }

    .avatar {
        width: 100px;
        height: 100px;
    }

    .container {
        display: flex;
        justify-content: space-between;
    }
    
    .home, .user {
        display: flex;
        align-items: center;
    }
    
    .home img, .user img {
        filter: invert(100%);
        width: 30px;
    }
    
    .home img {
        width: 50px;
    }

    .avatar:hover {
        transform: scale(1);
    }
}